/* CSS Grid Dimensions */

#section_content{
    height: calc(100vh- 40px );
}

.row{
    height: 100%;
}

h6 {
    font-size: 30px;
    text-align: left;
    letter-spacing: 3px;
    color: navajowhite;
}
    
.nav-link:any-link {
    font-size: 15px;
    color: navajowhite;
 }

.dropdown-item:any-link {
    font-size: 15px;
    color: navy;
}

.page-link:focus {
        z-index: 2;
        outline: 0;
        box-shadow:0000.2rem rgba(0,0,0,0.25);
}

.jumbotron{
	background-image: url('../assets/Camping.jpg');top: auto
	background-size: cover;
	background-repeat: no-repeat;
} 
 
